version: '3.8'

services:
  # Servicio para la aplicaci칩n web (PHP + Apache)
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: eventos_web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    restart: always

  # Servicio para la base de datos MySQL
  db:
    image: mysql:8.0
    container_name: eventos_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: eventos
      MYSQL_USER: eventos1
      MYSQL_PASSWORD: pass
    volumes:
      - db_data:/var/lib/mysql
      # 1. Mapea el script de creaci칩n de tablas. Se ejecuta primero.
      - ./database/db.sql:/docker-entrypoint-initdb.d/10-schema.sql
      # 2. Mapea el script de shell que crear치 el trigger de forma robusta.
      - ./database/init-triggers.sh:/docker-entrypoint-initdb.d/20-init-triggers.sh
      # 3. Mapea el archivo del trigger a una ubicaci칩n donde el script de shell pueda encontrarlo.
      - ./database/triggers.sql:/tmp/triggers.sql
    restart: always

  # Servicio para phpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: eventos_phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db
    restart: always

volumes:
  db_data:
